@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Works Section 
	3.3 - About Section
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-o-box-sizing: border-box;	
	box-sizing: border-box;	
}



/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

/*-------- 1.1 - HEADINGS ------------------------------------ */

h1 {
    font-size: 5.5rem;
	font-weight: 400;
	font-family: 'Rubik One', sans-serif;
    line-height: 5rem;
}

h2 {
	font-size: 3rem;
	font-weight: 100;
	margin: 0 auto;
	text-align: center
}

h3 {
	font-weight: 300;
	font-size: 2rem;
}

header p {
	text-align: center;
}

/*-------- 1.2 - BODY ---------------------------------------- */

body {
  font-size: 1.5em; 
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

/*-------- 1.3 - BUTTONS ------------------------------------- */

footer p {
	text-align: center;
}


/*--------------------------------------------------------------
2.0 - NAVIGATION MENU
-------------------------------------------------------------- */


/*-------- 2.1 - MAIN MENU ------------------------------------ */

nav {
	text-align: right;
}

nav li  {
	display:inline-block;
	list-style: none;
	padding: 0 20px;
    font-weight: 700;
}

nav a {
	text-decoration: none;
	padding:10px;
}

nav a:hover {
	color: #5e5e5e;
}



/*-------- 2.2 - FOOTER MENU ---------------------------------- */



/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */


/*-------- 3.1 - SITE STRUCTURE ------------------------------ */

.wrapper {
	width: 70%;
	margin: 0 auto;
}

.row {
	overflow: auto;
	
}

.row:after {
	clear: both;
	content: "";
	display: table;	
}

.flex {
	display: flex;
}

img {
	max-width: 100%;	
}

[class*='col-'] {
	float: left;
	margin-bottom: 20px;
	display: block;
	margin: 1% 0 1% 1.6%;
}

[class*='col-']:first-of-type, .lft-mrgn-zero {
	margin-left: 0;
} 




/* WIDTHS */  

.col-1-1 {
	width: 100%;	
}

.col-1-2 {
	width: 49.2%;
}

.col-1-3 {
	width: 32.26%; 
}

.col-1-4 {
	width: 23.7%; 
}

.col-1-5 {
  	width: 18.72%;
}

.col-1-6 {
  	width: 15.33%;
}

.col-1-7 {
  	width: 12.91%;
}

.col-1-8 {
	width: 11.1%; 
}

.col-1-9 {
	width: 9.68%; 
}

.col-1-10 {
	width: 8.56%; 
}

.col-1-11 {
	width: 7.63%; 
}

.col-1-12 {
	width: 6.86%; 
}


/* FRACTION WIDTHS */

.col-2-3 {
	width: 66.13%; 
}

.col-2-4 {
	width: 49.2%; 
}

.col-2-5 {
  	width: 39.04%;
}

.col-3-5 {
  	width: 59.36%; 
}

.col-5-6 {
  	width: 83.06%;
}

.col-2-7 {
  	width: 27.42%;
}

.col-5-7 {
  	width: 70.97%;
}

.col-3-8 {
	width: 36.5%;
}

.col-5-8 {
	width: 61.9%; 
}

.col-4-9 {
	width: 43.55%; 
}

.col-5-9 {
	width: 54.84%; 
}

.col-3-10 {
	width: 28.88%;
}

.col-7-10 {
	width: 69.52%; 
}

.col-7-11 {
	width: 63.05%; 
}

.col-4-11 {
	width: 35.34%; 
}

.col-5-12 {
	width: 40.73%; 
}

.col-7-12 {
	width: 57.66%; 
}


/*-------- 3.2 - WORKS SECTION ------------------------------- */


/*-------- 3.3 - ABOUT SECTION ------------------------------- */



/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

#hero { 
  background: url(../img/hero.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*--------------------------------------------------------------
5.0 - TYPOGRAPHY
-------------------------------------------------------------- */


/*-------- 5.1 - BACKGROUND COLORS --------------------------- */

.bg-yllw {
	background-color: #e1aa01;
}

/*-------- 5.2 - TEXT COLORS --------------------------------- */

h1, header nav a {
	color: white;
}

/*-------- 5.3 - SPACING ------------------------------------- */

.p-t-sm {
	padding-top: 10px;
}
.p-t-md {
	padding-top: 20px;
}
.p-t-lg {
	padding-top: 50px;
}
.p-b-lg {
	padding-bottom: 50px;
}
.p-b-xl {
	padding-bottom: 100px;
}
.m-t-0 {
	margin-top: 0;
}
.m-b-lg {
	margin-bottom: 50px;
}


/*-------- 5.4 - ALIGNMENTS ---------------------------------- */

.center-block {
	margin: 0 auto;
	float: none !important;
}


.float-rt {
	float: right;
}

.float-lft {
	float: left;
}


@media (max-width: 768px) {
	.wrapper {
		width: 85%;	
	}
	
	.resize-2-3 {
		width: 66.13%; 
    }
	
	.col-1-2, .col-1-3, .col-1-4, .col-1-6, .col-2-3 {
		width: 100%;
	}
	
	.resize-med {
		width: 49.2%;
	}
	
	.resize-sm {
	    width: 32.26%; 
	}
	
	.lft-mrgn-zero {
		margin-left: 0;		
	}
}




#works {
	padding-bottom: 250px;
	background-color: white;
}
